:root{
    --primary-color: #47618c;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f3f4;
    padding-bottom: 110px;
}

header{
    width: 100%;
    background-color: var(--primary-color);
}
nav{
    display: flex;
}
#icon-barras{
    background-color: transparent;
    border: none;
}
button img{
    width: 50px;
}
#limpar img, #add img{
    width: 12%;
    filter: invert(100%);
}
.group-btn button{
    border: 0px;
    border-radius: 5px;

    
}
#tabela-corpo td a #excluir{
    width: 18%;

}
#tabela-corpo td a #editar{
    width: 15%;

}
.editar-btn{
    border: none;
    background-color: transparent;
}
#editar-btn {
    border: none;
    background-color: transparent;
}    

#limpar{
    background-color: #eea236;
    color: rgb(255, 255, 255);
    

}
#add{
    background-color: #5db85b;
    color: white;
}

#box{
    background-color: #ffffff;
    width: 100%;
    padding: 0 2%;
}
.table{
    border: #b9b7b7;
}
footer{
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    
}
